.html{
    margin:0;
    padding:0;
    
}
body{
    overflow: hidden;
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.photos{
    width:auto;
    height:70svh;
    margin-left: 30px;
    margin-top: 20svh;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
textarea{
    width: 100%;
    padding-bottom: 80%;
    resize: none;
    border: 2px solid black;
}
.photos-container{
    display:flex;
    flex-direction: row;
    width: 830vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    margin-left: 20px;
}
.container{
    width:100svh;
    height:100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y:scroll;
    overflow-x:hidden;
    display: flex;
    align-items: bottom;
}
.logo{
    margin: 3rem;
    z-index: 1;
    width: 400px;
    height:auto;
    float:left;
    position:absolute;
}
.bio{
    height:70svh;
    max-width: 420px;
    margin-left: 30px;
    margin-top: 20svh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    align-items: center;
    margin: right 120px;
}
.social{
    display: flex;
    flex-direction: row;
    opacity: 0.5;
    gap:20px;
    margin: 3rem;
    z-index: 1; 
    height:auto;
    right:0;
    position:absolute;
}
section h2{
    font-size:2em;
}
a{
    text-decoration: none;
}
.a{
    margin-right: 30px;
}
.email{
    width:90%;
}
.emailform{
    margin-top: 10px;
}
.label{
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input{
    padding: 5px;
    border: 2px solid black;
}
.socials a{
    margin-top:6rem;
}
.media{
    margin-bottom:1rem;
    width: auto;
    height: 30px;
    aspect-ratio: 1;
    object-fit: cover;

}
::-webkit-scrollbar{
    width: .5em;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background: #777777
}
::-webkit-scrollbar-thumb:hover{
    background:#414141;
}
@media (min-width:768px){
    .bio{
        height:70svh;
        min-width: 140px;
        margin-left: 30px;
        margin-top: 20svh;
    }
}


@media (max-width:550px){
    .logo{
        margin:2rem;
        z-index: 1;
        width: 300px;
        height:auto;
        float:left;
        position:absolute;
    }
    .social{
        display: flex;
        flex-direction: row;
        z-index: 1; 
        height:auto;
        left:0;
        position:absolute;
        margin:2rem;
        margin-left: 3rem;
    }
    .media{

        margin-right:2rem;
        width: auto;
        max-height: 50px;
    }
    .bio{
        height:70svh;
        min-width: 140px;
        margin-left: 30px;
        margin-top: 20svh;
    }
    
      
      
}
.getincontact{
    padding: 10px;
    width: 90%;
    font-size: 15px;
    outline: none;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue';
    cursor: pointer;
    position: relative;
    letter-spacing: 1px;
}


header{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100svh;
    margin-left: 2em;
}
header p{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 4em;
    transform: translateY(-50px);
    color:black;
}
header p span{
    font-size: 1.3em;
}
.bio{
    width:20vw !important;
}
.heading-2{
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
}
@media only screen and (max-width: 1200px) {
    .bio{
        min-width:40vw !important;
        margin-right:10px;

    }
}
@media only screen and (max-width: 900px) {
    header p{
        font-size: 7.5vw;  
        transform: translateY(-25px);
    }
    .bio{
        min-width:60vw !important;
        margin-right:10px;

    }
    .bio p{
        font-size: 10pt !important;
    }
    .social{
        bottom:0;
    }
    .media{
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 600px) {
    header p{
        font-size: 9.5vw;  
        transform: translateY(-10px);
    }
}